<div class="Comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<div class="Comment-header">
		<div class="Comment-icon">
			<img src="{{ comment.avatar }}" class="image-circle" alt="{{comment.author.name}}">
		</div>
		<div class="Comment-meta">
			<h5 class="Comment-author">{{comment.author.name}}</h5>
			{{ comment.date }} {{ comment.time }}
		</div>
	</div>
	<div class="Comment-content Content">{{comment.comment_content|wpautop}}</div>
	{{ comment.reply_link }}
</div>
