<article class="Tease Tease--{{post.post_type}}" id="tease-{{post.ID}}">
	<a href="{{post.link}}" title="{{ post.title }}" class="Post-link link link-color-six">
		<h2 class="size-h2 weight-normal font-primary marginB1">
			{{ post.title }}
		</h2>
	</a>
</article>
