<article class="Tease Tease--project" id="tease-{{post.ID}}">
	<a href="{{post.link}}" title="{{ post.title }}" class="Post-link link link-color-six">
		<div class="Tease-preview" style="background:url({{ post.previewImage().src }});">
		</div>
		<img src="{{ post.logoImage().src }}">
	</a>
</article>
