{% extends "planks/plank-wrapper.twig" %}

{% block content %}
	<div class="paddingY4 paddingY6--md">
		<div class="Container">
			{% if plank.caption %}
			<div class="Grid">
				<div class="Grid-cell u-md-size4of5">
					<span class="size-h3 block font-secondary weight-light color-text marginB3 marginB6--md">{{ plank.caption }}</span>
					{% endif %}
				</div>
			</div>

			{% if plank.heading %}
			<h3 class="size-h5 font-primary weight-semiBold color-text text-uppercase letterspacing-2 marginB3"><span class="heading-border">{{ plank.heading }}</span></h3>
			{% endif %}

			{% for post in plank.posts %}
				{% if not loop.last %}
				<div class="marginB5">
				{% endif %}
					{% include ['partials/tease-post.twig'] %}
				{% if not loop.last %}
				</div>
				{% endif %}
			{% endfor %}

			{% if plank.button_caption and plank.button_url %}
				<a class="Button Button--two marginT3 marginT6--md" href="{{ plank.button_url }}" title="{{ plank.button_caption }}">{{ plank.button_caption }}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
