{% block html_head_container %}

{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="Header">
			{% block header %}
				<div class="Container">
					<a class="Branding Branding--header" href="{{site.url}}" title="{{site.name}}" rel="home">
						<img src="{{ theme.link }}/assets/svg/page-g-wood.svg" alt="{{site.name}}">
					</a>
					<nav id="nav-main" class="Nav Nav--main" role="navigation">
						{% include "partials/menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="Container">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'partials/footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
