{% extends "layouts/base.twig" %}

{% block content %}
		<article class="Post Post--{{post.post_type}} paddingY3 paddingY5--sm" id="post-{{post.ID}}">
			<div class="Container Container--small">
				<section class="article-content">
					<h1 class="size-h1 font-primary color-text weight-medium">{{post.title}}</h1>
					<p class="blog-author font-secondary">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
					</p>

					<div class="Content paddingY3 paddingY5--sm">
						{{post.content}}
					</div>
					{% if post.tags %}
					<ul class="List List--horizontal Post-tags marginB3 marginB5--sm">
					{% for tag in post.tags %}
							<li>
								<a href="{{ tag.link }}" title="{{ tag.name }}" class="link size-h6 font-primary text-uppercase weight-semiBold link-color-six">{{ tag.name }}</a>
							</li>
					{% endfor %}
					</ul>
					{% endif %}
				</section>
			</div>
			{% if post.comment_status != 'closed' %}
				<section class="Comments">
					<div class="Container Container--small">
						<h3 class="size-h3 font-primary weight-light color-text">{{ post.comment_count }} Comment{{ (post.comment_count != 0 and post.comment_count > 1) ? 's' : '' }}</h3>
						<div class="Responses">
							{% for cmt in post.get_comments() %}
								{% include "partials/comment.twig" with {comment:cmt} %}
							{% endfor %}
						</div>
					</div>
					<hr>
					<div class="Container Container--small">
						<h3 class="size-h3 font-primary weight-light color-text">Leave a Comment</h3>
						<div class="Respond">
							{{ fn('comment_form') }}
						</div>
					</div>
				</section>
			{% endif %}
		</article>
{% endblock %}
