{% extends "planks/plank-wrapper.twig" %}

{% block content %}
	<div class="paddingY2 paddingY5--md">
		<div class="Container">
			{% if plank.caption %}
			<div class="Grid">
				<div class="Grid-cell u-md-size4of5">
					<span class="size-h3 block font-secondary weight-light color-text marginB3 marginB5--md">{{ plank.caption }}</span>
				</div>
			</div>
			{% endif %}

			{% if plank.heading %}
			<h3 class="size-h4 font-primary weight-semiBold color-text marginB2 text-uppercase letterspacing-2 marginB3 marginB5--md">{{ plank.heading }}</h3>
			{% endif %}

			<div class="Grid Grid--withGutter">
			{% for post in plank.posts %}
				{% if post.logo_image and post.preview_image %}
				<div class="Grid-cell u-size1of2 u-md-size1of4">
					{% include ['partials/tease-project.twig'] %}
				</div>
			{% endif %}
			{% endfor %}
			</div>

			{% if plank.button_caption and plank.button_url %}
				<a class="Button Button--two marginT3" href="{{ plank.button_url }}" title="{{ plank.button_caption }}">{{ plank.button_caption }}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
